<table>
	<tr>
		<td>name</td>
		<td>college</td>
		<td>class</td>
	</tr>
<% @gymnast.each do |gymnast| %>
	<tr>
		<td><%= gymnsat.id %></td>
		<td><%= gymnast.name %></td>
		<td><%= gymnast.college %></td>
		<td><%= gymnast.class %></td>
	</tr>
<% end %>
</table>